/* Google Fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* Navigation  */
#navigation{
    height: 100px;
    background-color: #ffffff;
}
/* Bannar  */
.carousel-img {
    height: 69vh;
}
/* Package section  */
#package-section{
    margin-top: 80px;
}
.package-heading{
    margin-bottom: 150px;
}

.checked{
    color: #5243c2;
    background-color: #edebf8;
    border-radius: 50%;
}
.packages{
    margin-top: 100px;
}
.package-btn{
    background-color:#fdf4fa;
     color:#5243c2;
}

.wedding-plus{
    border-radius: 30px;
    background-color: #3F87F5;
    color: #fff;
    bottom: 60px;
    
        
    
}
/* Client Section  */

#clients{
    margin-top: 100px;
    margin-bottom: 100px;
}


.people-img{
    width: 90%;
}


/* Contact Us Section  */



#contact{
    background-image: url("images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    margin-top: 100px;
    margin-bottom: 100px;

    
}

.icon i{
    font-size: 20px;
    background-color: beige;
    padding: 12px 14px;
    border-radius: 50%;
}

.form-control1{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    font-weight: 500;
}
.form-container{
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
    
}


/* Contact Us Section End  */


/* footer Section  */
.footer-section {
    height: 280px;
    background: #0B0D17;
    color: #D9DBE1;
    overflow: hidden;
}

.footer-section p {
    font-size: 14px;
    line-height: 24px;
}

.footer-section h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}